{% extends 'base.html' %}


{% block title %}



{% if q %}

You Searched For {{q}}

{% else %}

You Didn't Enter A Search Query

{% endif %}

{% endblock %}



{% load static %}


{% block content %}
<div class="search_index">
    {% if q %}
    <div class="search_page">
        <div class="search-wrapper">

            <div class="search_background1">

                <div class="box">
                    <h3> You searched for <span>{{q}}</span></h3>
                </div>

            </div>
        </div>
    </div>





    <div class="results">
        {% if results %}
        <div class="top">
            <h3>Related <span>Results:</span></h3>
        </div>
        <div class="result_wrapper">
            {% for result in results %}
            <div class="recipe_banner">
                <div class="recipe_block">
                    <img src="{{ result.image.url }}" alt="">

                    <h3 class="name" style="margin: 0;">{{ result.recipe_name }}</h3>

                    <div class="time" style="display: flex; padding-top: 10px;">
                        <i class="far fa-clock"></i>
                        <h5 class="date" style="margin: 0;">{{ result.date_added }}</h5>
                    </div>


                    <a href="{% url 'recipe_detail' result.pk %}"><button>View Recipe</button></a>
                </div>
            </div>

            {% endfor %}

            {% else %}
            <div class="no_result_box">
                <h3>Oppps, we don't have the meal you searched for, Try another search</h3>
            </div>

            {% endif %}
        </div>

    </div>






    {% else %}



            <div class="no_query">
                <div class="box">
                    <h3> You Didn't Enter A Search Query</h3>
                </div>


            </div>
   
  
    {% endif %}


</div>















{% endblock %}