{% extends 'base.html' %}

{% block title %} Sign In {% endblock %}
{% load static %}



{% block content %}


<link rel="stylesheet" href="{% static 'css/login.css' %}">




    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="form-area login-form">


                        <div class="form-content" data-aos="fade-right" data-aos-duration="1200">
                            <img src="{% static 'images/chef-311680.png' %}" alt="">
                            <!-- <h2>Login</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla non aperiam cum quas quod reprehenderit.</p>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i><span>facebook</span></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
                        </ul> -->
                        </div>




                        <div class="form-input" data-aos="fade-left" data-aos-duration="1200">
                            <div class="form-wrap">
                                <h2>Login to your Recipe<span>DB.</span> account</h2>
                                <form method="POST">
                                    {% for message in messages %}
                                    <p style="color: red;">{{message}}</p>

                                    {% endfor %}

                                    {% csrf_token %}


                                    <div class="form-group">
                                        
                                        <label>User Name</label>
                                        <input type="text" id="" name="username" required>

                                    </div>
                                    <div class="form-group">
                                        <label>password</label>
                                        <input type="password" id="" name="password" required>
                                    
                                    </div>

                                    <!-- <div class="forgot-password">
                                        <a href="{% url 'reset-password' %}">Forgot Password?</a>
                                    </div> -->
                                    <div class="myform-button">
                                        <button class="myform-btn" type="submit">Login</button>
                                    </div>
                                    <div class="form-versa">
                                        <p>Need an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}