{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

    <div class="header">
        <a href="{% url 'home' %}">
            <h3>Meal-tab🥄</h3>
        </a>
    </div>







    <section class="myform-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="form-area login-form">


                        <div class="form-content" data-aos="fade-right" data-aos-duration="1200">
                            <img src="{% static 'images/chef-311680.png' %}" alt="">
                            <!-- <h2>Login</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla non aperiam cum quas quod reprehenderit.</p>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i><span>facebook</span></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
                        </ul> -->
                        </div>




                        <div class="form-input" data-aos="fade-left" data-aos-duration="1200">
                            <div class="form-wrap">
                                <h2>Login to your Meal-tab account</h2>
                                <form method="POST">
                                    {% for message in messages %}
                                    <p style="color: #b6c5d4;">{{message}}</p>

                                    {% endfor %}

                                    {% csrf_token %}


                                    <div class="form-group">
                                        <input type="text" id="" name="username" required>

                                        <label>User Name</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="" name="password" required>
                                        <label>password</label>
                                    </div>

                                    <div class="forgot-password">
                                        <a href="{% url 'reset-password' %}">Forgot Password?</a>
                                    </div>
                                    <div class="myform-button">
                                        <button class="myform-btn" type="submit">Login</button>
                                    </div>
                                    <div class="form-versa">
                                        <p>Need an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>    AOS.init(); </script>
</body>

</html>