{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set a new password</title>
    <link rel="stylesheet" href="{% static 'css/reset-password.css' %}">
</head>

<body>







    <div class="header">
        <a href="{% url 'home' %}">
            <h3>Meal-tab🥄</h3>
        </a>
    </div>


    <div class="password-reset-wrapper">

        <div class="form-area">


            <div class="form-input">
                <div class="form-wrap" data-aos="zoom-in-up" data-aos-duration="1200">

                    <h3>Set a new password</h3>
                    <p>
                        Your new password must contain at least 8 characters </p>

                    <form method="POST">




                        {% for error in form.errors %}
                        <p style="color: #b6c5d4 ; padding-bottom:8px; font-size: 15px;">Oppps, Can't create a new
                            password, kindly fix the errors</p>
                        {% for error in form.new_password1.errors %}
                        <p style="color: red; padding-bottom:8px; font-size: 15px;"> {{error}}</p>
                        {% endfor %}

                        {% for error in form.new_password2.errors %}
                        <p style="color: red; padding-bottom:8px; font-size: 15px;"> {{error}}</p>
                        {% endfor %}
                        {% endfor %}

                        {% csrf_token %}


                        <div class="form-group">

                            {{form.new_password1}}
                            <label>New Password</label>


                        </div>

                        <div class="form-group">

                            {{form.new_password2}}

                            <label>Confirm Password</label>


                        </div>


                        <div class="myform-button">
                            <button class="myform-btn" type="submit">Reset My Password</button>
                        </div>
                </div>
                </form>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>    AOS.init(); </script>
</body>

</html>