{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/reset-password.css' %}">
</head>

<body>







    <div class="header">
        <a href="{% url 'home' %}">
            <h3>Meal-tab🥄</h3>
        </a>
    </div>


    <div class="password-reset-wrapper">

        <div class="form-area">


            <div class="form-input">
                <div class="form-wrap">

                    <h3>Reset Password</h3>
                    <p>
                        Please enter your registered email and we will send instructions to reset your password. </p>

                    <form method="POST">
                        {% csrf_token %}


                        <div class="form-group">

                            {{form.email}}

                            <label>Email</label>


                        </div>


                        <div class="myform-button">
                            <button class="myform-btn" type="submit">Send instructions</button>
                        </div>
                </div>
                </form>
            </div>
        </div>

    </div>


</body>

</html>