{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}
{% load static %}



{% block content %}


<link rel="stylesheet" href="{% static 'css/login.css' %}">


<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-area " id="signup">
                    <div class="form-content" data-aos="fade-right" data-aos-duration="1200">
                        <img src="{% static 'images/chef-311680.png' %}" alt="">

                    </div>

                    <div class="form-input " data-aos="fade-left" data-aos-duration="1200">
                        <div class="form-wrap" id="signup">
                            <h2>Create a new Recipe<span>DB.</span> account</h2>
                            <form method="POST">
                                {% for message in messages %}
                                <p style="color: red ; padding-bottom:2px; font-size: 15px;">{{message}}</p>

                                {% for error in form.username.errors %}
                                <p style="color: red; padding-bottom:2px; font-size: 15px;"> {{error}}</p>
                                {% endfor %}

                                {% for error in form.password1.errors %}
                                <p style="color: red; padding-bottom:2px; font-size: 15px;"> {{error}}</p>
                                {% endfor %}

                                {% for error in form.password2.errors %}
                                <p style="color: red; padding-bottom:2px; font-size: 15px;"> {{error}}</p>
                                {% endfor %}

                                {% endfor %}

                                {% csrf_token %}

                                <div class="form-group">
                                    <label>Email</label>
                                    {{form.email}}




                                </div>

                                <div class="form-group">
                                    <label>Username</label>
                                    {{form.username}}

                                </div>


                                <div class="form-group">
                                    <label>Password</label>
                                    {{form.password1}}



                                </div>

                                <div class="form-group">

                                    <label>Repeat Password</label>
                                    {{form.password2}}

                                </div>

                                <div class="myform-button">
                                    <button class="myform-btn" type="submit">Sign Up</button>
                                </div>
                                <div class="form-versa">
                                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}